
html,
body {
	height: 100%;
	margin: 0 auto;
	font-size: 18px;
	font-family: sans-serif;
	line-height: 1.8em;
	text-align: center;
	color: black;
	min-height: 100%;
	overflow-x: hidden;
}

html {
	/* applying a linear color background to html */
	background-image: linear-gradient(
		rgba(255, 255, 255, 0.82),
		rgba(0, 0, 0, 0.608)
	);
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

h1 {
	margin-bottom: 0;
}

/* putting the parallax properties on the images */
.parallax-img1,
.parallax-img2,
.parallax-img3 {
	position: relative;
	display: flex;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* parallax images */
.parallax-img1 {
	background-image: url(./images/skyline-min.jpg);
	/* used the blend-mode to add opacity to parallax images */
	background-color: rgba(204, 236, 250, 0.582);
	background-blend-mode: overlay;
	min-height: 100%;
	min-width: 100%;
}
.parallax-img2 {
	background-image: url(./images/moab-road-min.jpg);
	background-color: rgba(251, 215, 196, 0.477);
	background-blend-mode: overlay;
	min-height: 85%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}
.parallax-img3 {
	background-image: url(./images/greenland-aurora-min.jpg);
	min-height: 85%;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

/* first parallax container */
.img1-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 5s;
	color: #ffffff;
	text-shadow: 1.5px 1.5px rgb(83, 83, 83);
}

/* headshot img */
#head-shot {
	display: block;
	border-radius: 100%;
	max-width: 50%;
}

/* intro text */
.web-dev {
	font-size: 60px;
	text-transform: uppercase;
}

.first-row,
.second-row {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.text-div {
	background-color: rgba(32, 32, 32, 0.649);
	height: 250px;
	padding-top: 35px;
}

/* intro name text */
.john-sass {
	width: 100vw;
	position: relative;
	font-size: 65px;
	margin-top: 20px;
	text-transform: uppercase;
	color: rgb(201, 179, 36);
}

/* second parallax img container */
.projectFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* 2nd parallax intro text */
.para2-text {
	font-size: 100px;
	line-height: 2em;
}

/* adding margin to all the project links in the second parallax */
.projectFlex a {
	margin: 35px;
}

.portfolio-img {
	height: 250px;
	width: 250px;
	opacity: 0.9;
	display: flex;
}

/* third parallax container */
.tech-container {
	display: flex;
	flex-wrap: wrap;
	color: white;
	justify-content: space-around;
}

/* 3rd parallax intro text */
.tech-intro {
	color: white;
	font-size: 80px;
	line-height: 2em;
}

/*  */
.row-container {
	flex-wrap: wrap;
	color: white;
	font-size: 80px;
}

.image-circle {
	display: flex;
	background-color: rgba(255, 255, 255, 0.716);
	border-radius: 50%;
	justify-content: space-around;
	flex-direction: column;
	margin: 0 10px 35px 0;
}

/* email container */
.contactContainer {
	margin-bottom: 80px;
	margin-top: 0;
}

.contactContainer input,
textarea {
	text-align: center;
}

/* sections between the parallax images */
.section {
	padding: 60px 0;
}

.section-dark {
	padding: 0;
}

/* FOOTER */
.footer {
	justify-content: center;
	background-color: rgba(32, 32, 32, 0.649);
}

.btn-social-icon {
	color: whitesmoke;
}

.icon-text {
	font-size: 10px;
}

/* media query for mobile */
@media only screen and (max-width: 767px) {
	.web-dev {
		display: flex;
		font-size: 40px;
		text-transform: uppercase;
	}

	.john-sass {
		font-size: 30px;
		margin-top: 20px;
		text-transform: uppercase;
	}
	.tech-intro {
		color: white;
		margin-top: 15px;
		font-size: 80px;
		line-height: 1em;
	}
}
